* {
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
}

hr {
    color: #fff;
}

#IconP {
    background-color: aqua;
}





footer {
    background-color: aqua;
}