* {
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
}

hr {
    color: #fff;
}

#IconP {
    background-color: rgb(47, 198, 236);
    text-align: center;
}

.btn {
    background-color: rgb(47, 198, 236);
}

.tooltip  .tooltip-inner{
    background-color: #fff;
    color: black;
}

footer {
    background-color:rgb(47, 198, 236);
}